* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: Abel;
    src: local(Abel), url(../fonts/abel/Abel-Regular.ttf);
}

@font-face{
    font-family: Lato-Regular;
    src: local(Lato-Regular), url(../fonts/lato/Lato-Regular.ttf);
}

body {
    font-family: Lato-Regular;
    color: #01b4e4;
}

header {
    background-color: #0d253f;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

h1{
    font-size: 500%;
    font-family: Abel;
}

hr {
    border: 1px solid;
    color: #0d253f;
}

/*botão de input*/
#search {
    visibility: hidden;
}

/*barra de busca*/
#searchBar {
    outline: none;
    width: 90%;
    border: transparent;
    height: 50px;
    border-radius: 30px;
    background-color: #e2e2e2;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/*estabelecendo cores para o placeholder da barra de busca*/
::-webkit-input-placeholder {
    color: #01b4e4;
}

:-moz-placeholder {
    color: #01b4e4;
}

::-moz-placeholder {
    color: #01b4e4;
}

:-ms-input-placeholder {
    color: #01b4e4;
}




/*------RESULTADOS DAS PESQUISAS-----*/
/*o cartão em si, que comporta o poster e informações dos filmes*/
.movieCard {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 278px;
    width: 90%;

}

/*container dos cartazes de filme*/
.posterContainer {
    background-color: #8b8b8b;
    float: left;
    height: 100%;
    width: 185px;
}
.posterContainer img:hover{
    cursor: pointer;
}

/*container do título e informações do filme*/
.info {
    background-color: turquoise;
    flex-grow: 1;
    height: 100%;
}

/*container do título do filme*/
.title {
    font-family: Abel;
    background-color: #0d253f;
    width: 100%;
    height: 20%;
    position: relative;
}
/*título do filme*/
.title div{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 18px;
    margin-left: 93px;
    font-size: 1.9em;
}

/*container das informações do filme (ano, sinopse, gêneros...)*/
.movieData{
    background-color: #e2e2e2;
    flex-grow: 1;
    height: 80%;
    position: relative;
}

/*container da porcentagem*/
.percentage {
    background-color: #0d253f;
    border: solid 4px #01b4e4;
    position: relative;
    text-align: center;
    padding-top: 11px;
    top: -27px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/*container do ano*/
.year{
    position: absolute;
    left: 93px;
    top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8b8b8b;
    font-size: 1.4em;
}

/*container da sinopse*/
.sinopse{
    overflow: auto;
    text-overflow: ellipsis;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    color: #000000;
}

/*estrutura que comporta os diferentes gêneros*/
.genreHolder{
    display: flex;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 13%;
}

/*container dos gêneros*/
.genre{
    display: inline-block;
    font-family: Abel;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    background-color: #ffffff;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px;
    border-color: #01b4e4;
    border-radius: 15px;
}




/*-------DETALHES DOS FILMES-------*/
/*estrutura que comporta os detalhes do filme e o trailer*/
.detailsCardHolder{
    margin-bottom: 30px;
}

/*estrutura que comporta todos os elementos dos detalhes do filme*/
.detailsCard{
    background-color: #f0f0f0;
    width: 100%;
    height: 570px;
}

/*container do título e ano de um filme*/
.detailsTitleCard{
    display: flex;
    position: relative;
    background-color: #d1d1d1;
    height: 57px;
    flex-grow: 1;
}
.detailsTitleCard:hover{
    cursor: pointer;
}

/*título do filme*/
.spanTitle {
    font-family: Abel;
    position: absolute;
    top: 25%;
    left: 30px;
    font-size: 1.9em;
}

/*ano do filme*/
.spanYear {
    position: absolute;
    top: 25%;
    right: 30px;
    font-size: 1.5em;
    color: #8b8b8b;
}

/*container dos demais detalhes do filme(sinopse, informações...) + poster*/
.detailsMovieCard{
    position: relative;
    height: 513px;
    width: 100%;
    display: flex;
}

/*container das demais informações do filme*/
.detailsInfoCard{
    height: 513px;
    flex-grow: 1;
}

/*container das informações referentes à sinopse*/
.detailsSinopse{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 367px;
    height: 40%;
}

/*todos os demais títulos do elemento*/
.detailsTitle{
    font-family: Abel;
    font-size: 1.3em;
    padding-bottom: 2px;
}

/*texto da sinopse*/
.sinopseText{
    overflow: auto;
    text-overflow: ellipsis;
    height: 80%;
    padding-top: 6px;
    color: #000000;
}

/*estrutura que comporta a seção 'informações'*/
.detailsInfo{
    height: 15%;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 367px;
    margin-bottom: 80px;
}

/*estrutura que comprta cada elemento das infromações (título+dado)*/
.dataHolder{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/*estrutura que contém o título de cada elemento das informações (situação, lucro...)*/
.dataTitle{
    font-family: Abel;
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 1.3em;
    padding-top: 8px;
}

/*estrutura que contém dado de cada elemento das informações (situação, lucro...)*/
.dataContainer{
    display: inline-block;
    height: 100%;
    width: 15%;
}

/*dado de cada elemento das informações (situação, lucro...)*/
.data {
    text-align: center;
    height: 60%;
    width: 100%;
    padding-top: 13px;
    color: #000000;
}

/*estrutura que comporta os gêneros e porcentagem*/
.genreAndPercentageDetailsHolder {
    display: flex;
    height: 15%;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 367px;
}

/*estrutura que comporta os gêneros*/
.genreDetailsHolder{
    display: inline-block;
    height: 100%;
    width: 80%;
}

/*gêneros*/
.genreDetails{
    font-family: Abel;
    display: inline-block;
    margin-top: 20px;
    background-color: #ffffff;
    height: 40%;
    padding: 5px 10px;
    border: solid 1px;
    border-color: #01b4e4;
    border-radius: 15px;
    margin-right: 15px;
}

/*estrutura que comporta a porcentagem*/
.percentageDetailsHolder{
    display: inline-block;
    width: 30%;
    height: 100%;
}

/*porcentagem*/
.percentageDetails{
    background-color: #0d253f;
    border: solid 4px #01b4e4;
    text-align: center;
    padding-top: 30px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-size: 1.5em;
    float: right;
}

/*container do poster*/
.detailsPosterContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 513px;
    width: 342px;
    background-color: #8b8b8b;
}




/*------------TRAILER------------*/
/*estrutura que comporta o trailer*/
.trailerContainer{
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

/*trailer*/
iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}




/*----------MEDIA QUERY----------*/
@media(min-width:787px) and (max-width: 1078px){
    /*estrutura que comprta cada elemento das infromações (título+dado)*/
    .dataHolder{
        display: block;
    }

    /*estrutura que contém dado de cada elemento das informações (situação, lucro...)*/
    .dataContainer{
        width: 30%;
        height: 40%;
    }

    /*dado de cada elemento das informações (situação, lucro...)*/
    .data{
        padding-top: 20px;
    }
}

@media(max-width: 786px){
    /*estrutura que comprta cada elemento das infromações (título+dado)*/
    .dataHolder{
        display: block;
    }

    /*estrutura que contém dado de cada elemento das informações (situação, lucro...)*/
    .dataContainer {
        width: 50%;
        height: 20%;
    }

    /*estrutura que contém o título de cada elemento das informações (situação, lucro...)*/
    .dataTitle{
        padding-top: 5px;
    }

    /*dado de cada elemento das informações (situação, lucro...)*/
    .data{
        padding-top: 20px;
    }

    /*porcentagem*/
    .percentageDetails{
        height: 80px;
        width: 80px;
        margin-top: 25px;
        padding-top: 20px;
    }

    /*estrutura que comporta os gêneros*/
    .genreDetailsHolder{
        padding-top: 20px;
    }

    /*gêneros*/
    .genreDetails{
        height: 30px;
        margin: 5px;
    }
}