* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: Abel;
    src: local(Abel), url(../fonts/abel/Abel-Regular.ttf);
}

@font-face{
    font-family: Lato-Regular;
    src: local(Lato-Regular), url(../fonts/lato/Lato-Regular.ttf);
}

body {
    font-family: Lato-Regular;
    color: #01b4e4;
}

/*posso tornar um botão para ir para o menu principal*/
header {
    background-color: #0d253f;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

h1{
    font-size: 500%;
    font-family: Abel;
}

img:hover {
    cursor: pointer;
    /*transform: scale(1.05);*/
}

hr {
    border: 1px solid;
    color: #0d253f;
}

#search {
    visibility: hidden;
}

/*posso usar a mecanica de inserur classes em tags para mudar os conteúdos em tela no caso da exibição dos dados dos filmes*/
.content {
    border: solid 1px;
    border-color: #01b4e4;
    display: none;
}

.content-dispay {
    display: block;
}

#content-close {
    background-color: #0d253f;
}

/*barra de busca*/
#searchBar {
    outline: none;
    width: 90%;
    border: transparent;
    height: 30px;
    border-radius: 15px;
    background-color: #e2e2e2;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

::-webkit-input-placeholder {
    color: #01b4e4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #01b4e4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #01b4e4;
}

:-ms-input-placeholder {
    color: #01b4e4;
}


/*-----------------------------------------------RESULTADOS DAS PESQUISAS----------------------------------------------*/
.movieCard {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 278px;
    width: 90%;

}

/*Container dos cartazes de filme*/
.posterContainer {
    background-color: #8b8b8b;
    float: left;
    height: 100%;
    width: 185px;
}


/*container do título e informações do filme*/
.info {
    background-color: turquoise;
    flex-grow: 1;
    height: 100%;
}


/*Container do título*/
.title {
    font-family: Abel;
    background-color: #0d253f;
    width: 100%;
    height: 20%;
    position: relative;
}

/*Título do card do filme*/
.title div{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 15px;
    margin-left: 93px;
    font-size: 1.9em;
}


/*container da porcentagem*/
.percentage{
    background-color: #0d253f;
    border: solid 4px #01b4e4;
    position: relative;
    text-align: center;
    padding-top: 11px;
    top: -27px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}


/*Container das informações do filme*/
.movieData{
    background-color: #e2e2e2;
    flex-grow: 1;
    height: 80%;
    position: relative;
}

.year{
    position: absolute;
    left: 93px;
    top: 0px;
    color: #8b8b8b;
    font-size: 1.4em;
}

.sinopse{
    /*background-color: blueviolet;*/
    overflow: auto;
    text-overflow: ellipsis;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    height: 110px;
    color: #000000;
}


.genreHolder{
    /*background-color: aqua;*/
    display: flex;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 13%;
}


.genre{
    display: inline-block;
    font-family: Abel;
    /*left: 30px;
    position: absolute;
    top: 75%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    background-color: #ffffff;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px;
    border-color: #01b4e4;
    border-radius: 15px;
}






/*-----------------------------------------------DETALHES DOS FILMES------------------------------------------*/

.detailsCardHolder{
    margin-bottom: 30px;
}

.detailsCard{
    background-color: #f0f0f0;
    width: 100%;
    height: 570px;
}

.detailsTitleCard{
    display: flex;
    position: relative;
    background-color: #d1d1d1;
    height: 57px;
    flex-grow: 1;
}

.detailsTitleCard:hover{
    cursor: pointer;
}

.spanTitle {
    font-family: Abel;
    position: absolute;
    top: 25%;
    left: 30px;
    font-size: 1.9em;
}

.spanTitle:hover{
    cursor: pointer;
}

.spanYear {
    position: absolute;
    top: 25%;
    right: 30px;
    font-size: 1.5em;
    color: #8b8b8b;
}

.spanYear:hover{
    cursor: pointer;
}

.detailsMovieCard{
    position: relative;
    height: 513px;
    width: 100%;
    display: flex;
    /*background-color: darkred;*/
}

.detailsPosterContainer{
    position: absolute;
    top: 0;
    right: 0;
    height: 513px;
    width: 342px;
    background-color: #8b8b8b;
}


.detailsInfoCard{
    height: 513px;
    flex-grow: 1;
    /*background-color: darkmagenta;*/
}


.detailsSinopse{
    /*lembrar de usar media query*/
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 367px;
    /*background-color: orangered;*/
    height: 40%;
}

.detailsTitle{
    /*background-color: paleturquoise;*/
    font-family: Abel;
    font-size: 1.3em;
    padding-bottom: 2px;
}

.sinopseText{
    /*background-color: pink;*/
    overflow: auto;
    text-overflow: ellipsis;
    height: 80%;
    padding-top: 6px;
    color: #000000;
}


.detailsInfo{
    /*background-color: green;*/
    height: 15%;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 367px;
    margin-bottom: 80px;
}

.dataHolder{
    display: flex;
    justify-content: space-between;
    /*background-color: mediumblue;*/
    width: 100%;
    height: 100%;
}

.dataTitle{
    /*background-color: lightgreen;*/
    font-family: Abel;
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 1.3em;
    padding-top: 8px;
}

.dataContainer{
    display: inline-block;
    /*background-color: indigo;*/
    height: 100%;
    width: 15%;
}

.data {
    /*background-color: lightcoral;*/
    text-align: center;
    height: 60%;
    width: 100%;
    padding-top: 13px;
    color: #000000;
}

.genreAndPercentageDetailsHolder {
    display: flex;
    /*background-color: darkslategrey;*/
    height: 15%;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 367px;
}

.genreDetailsHolder{
    display: inline-block;
    /*background-color: dodgerblue;*/
    height: 100%;
    width: 80%;
}

.genreDetails{
    font-family: Abel;
    display: inline-block;
    margin-top: 20px;
    background-color: #ffffff;
    height: 40%;
    background-color: #ffffff;
    padding: 5px 10px;
    border: solid 1px;
    border-color: #01b4e4;
    border-radius: 15px;
    margin-right: 15px;
}


.percentageDetailsHolder{
    display: inline-block;
    /*background-color: dimgray;*/
    width: 30%;
    height: 100%;
}

.percentageDetails{
    background-color: #0d253f;
    border: solid 4px #01b4e4;
    text-align: center;
    padding-top: 30px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-size: 1.5em;
    float: right;
}

.trailerContainer{
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*
.detailsInfo span{
    display: inline-block;
    margin-right: 5px;
    width: 15%;
    text-align: center;
}*/

@media(min-width:768px) and (max-width: 1027px){
    .dataHolder{
        display: block;
    }

    .dataContainer{
        width: 30%;
        height: 40%;
    }

    .dataContainer .data{
        padding-top: 20px;
    }
}

@media(max-width: 767px){
    .dataHolder{
        display: block;
    }

    .dataContainer {
        width: 50%;
        height: 20%;
    }

    .dataContainer .dataTitle{
        padding-top: 5px;
    }

    .dataContainer .data{
        padding-top: 20px;
    }

    .percentageDetails{
        height: 80px;
        width: 80px;
        margin-top: 25px;
        padding-top: 20px;
    }

    .genreDetailsHolder{
        padding-top: 20px;
    }

    .genreDetails{
        height: 30px;
        margin: 5px;
    }
}